body {
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color:#1d2325;
}
.footer-copyright {
    color: white;
}
.list-inline-item a {
    color:white;
}
.card-body {
    color: white;
    background-color: #263238;
}
.card {
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px  grey;
}
